*{
    box-sizing: border-box;
    

}
body{
    background: url(/images/mustang-2338351_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    margin: 0;
    padding: 0;
    background-color: transparent;
    left: 20%;
    
}


nav{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    box-shadow: rgba(204, 18, 18, 0.5);
}

.navi nav ul{
    display: flex;
    justify-content: center;
    justify-content: space-around;
} 
nav ul li{
    list-style: none;
    display: flex;
}
nav ul li a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #000000 ;
    font-size: 20px
}
nav ul li button{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}
#login-form{
   
}

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 10% auto;
    background: rgba(0,0,0,0.3);
    padding: 10px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    
}
.input-group-login{
    top: 150px;
}
.input-group-register{
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    background: #d82912;
    border: 0;
    outline: none;
    border-radius: 30px; 
}
.check-box{
    margin: 30px 10px 34px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 229px;
    left: 9%;
}
#login{
    left: 50px;
}
#login input{
    color: white;
    font-size: 15;
}
#register{
    left: 450px;
}
#register input{
    color: white;
    font-size: 15;
}