body{
    margin: 0;
    padding: 0;
    background: rgb(90, 90, 90);
}

#firstsection{
    height: 2vh;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 200px;

}

#secondsection{
    margin: 0;
    height: 50vh;
}
.firstimg img{
    left: 0;
    width: 900px;
}





